# Configuración de la Base de Datos PostgreSQL
POSTGRES_USER=postgres_user_here
POSTGRES_PASSWORD=postgres_password_here
POSTGRES_DB=promotions_db

# URL de conexión para Prisma (usar el nombre del servicio de la db en docker-compose: 'db')
DATABASE_URL=postgresql://postgres_user_here:postgres_password_here@db:5432/promotions_db?schema=public

# Puerto para el Backend
PORT=3000

# URL de la API del Backend (usada por el Frontend en Vite)
VITE_API_URL=http://localhost:3000
